@layer reset, base, tokens, recipes, utilities;

body{
    font-family: "Hiragino Kaku Gothic Pro",sans-serif;
    color: #333;
}
main{
    padding-top: 52px;
    padding-bottom: 150px;
    width: 100%;
}
#Responsive{
    width: 100%;
    height: 52px;
}
#sutokkunAnimation{
    transform-origin: center bottom;
    animation: sutokkunAnimation 3s alternate infinite ease;
}
@keyframes sutokkunAnimation{
    0%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(25deg);
    }
    80%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@media (min-width: 960px) {
    body{
        background-color: #FFC;
        background-image: url(../../public/pcbg.svg);
        background-repeat: repeat;
        background-attachment: fixed; /* 背景を固定 */
        background-size: cover;
    }
    main{
        width: 390px;
        padding-top: 52px;
        margin: 0px auto 0px;
        padding-bottom: 160px;
        background-color: white;
    }
    #Responsive{
        width: 390px;
        height: 52px;
        margin: 0 auto;
    }
}