@layer reset, base, tokens, recipes, utilities;

body{
    font-family: "Hiragino Kaku Gothic Pro",sans-serif;
    color: #333;
}
main{
    margin-top: 52px;
    width: 100%;
}

@media (min-width: 960px) {
    main{
        width: 390px;
        margin: 52px auto 0;
    }    
}