@layer reset, base, tokens, recipes, utilities;

body{
    font-family: "Hiragino Kaku Gothic Pro",sans-serif;
    color: #333;
}
main{
    margin-top: 52px;
    padding-bottom: 150px;
    width: 100%;
}
#Responsive{
    width: 100%;
    height: 52px;
}

@media (min-width: 960px) {
    body{
        background-color: dodgerblue;
    }
    main{
        width: 390px;
        margin: 52px auto 0px;
        padding-bottom: 160px;
        background-color: white;
    }
    #Responsive{
        width: 390px;
        height: 52px;
        margin: 0 auto;
    }
}